.git
.run
.idea
.ipynb_checkpoints
# -------------------------------------------------------------------------------------------------------------------- #
_.py
wandb
__pycache__
# -------------------------------------------------------------------------------------------------------------------- #
*.log
*.jpg
*.png
*.txt
*.csv
*.xml
*.xlsx
*.json
*.html
*.pt
*.pth
*.bin
*.trt
*.onnx
# -------------------------------------------------------------------------------------------------------------------- #
economy/model.yaml
economy/remove.yaml
economy/data_screen.yaml
economy/input_column.txt
economy/tushare/number.yaml
economy/tushare/reserve.yaml
# -------------------------------------------------------------------------------------------------------------------- #
!ocr_model/**
!match_image/**
!image/demo.png
