.*
_.*
wandb
__pycache__
# -------------------------------------------------------------------------------------------------------------------- #
*.log
*.jpg
*.png
*.txt
*.csv
*.xml
*.xlsx
*.json
*.html
*.pt
*.pth
*.bin
*.trt
*.onnx
# -------------------------------------------------------------------------------------------------------------------- #
economy/model.yaml
economy/remove.yaml
economy/data_screen.yaml
economy/input_column.txt
economy/tushare/number.yaml
economy/tushare/reserve.yaml
# -------------------------------------------------------------------------------------------------------------------- #
!.gitignore
!ocr/ocr_model/**
!dataset/industry/**
!auto_gui/match_image/**
!ocr/image/demo.png